In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='ticks')

import re
import os

In [2]:
! ls

'convert frame_lammps to mol.ipynb'
 equilibration_IONOMER_FIRE_relaxation.data
 frame_108_ionomer_nvt.pdb
 frame_149_ionomer_nvt.pdb
 frame_169_ionomer_nvt.mol
 frame_169_ionomer_nvt.mol2
 frame_169_ionomer_nvt.pdb
 frame_195_ionomer_nvt_PARMS_DREIDING.lammps
 frame_195_ionomer_nvt.pdb
 frameTRAJ_to_PDB_.py
 nafion_ionomer_dreiding_FRAME170_2ndNVT_doublebonds.lammps
 nafion_ionomer_dreiding_FRAME170_2ndNVT.mol
 nafion_ionomer_dreiding.mol
 nafion_ionomer_dreiding_PARMS_frame170_2ndNVT.lammps
 nafion_ionomer_dreiding_PARMS.lammps
 thermal_nvt___2nd.traj
 thermal_nvt.traj

In [4]:
with open("nafion_ionomer_dreiding_FRAME170_2ndNVT_doublebonds.lammps", "r") as file:
    file_content = file.readlines()
# Create a DataFrame with each line as a separate row in a single column
data = pd.DataFrame(file_content, columns=['data'])

In [5]:
#! code frame_195_ionomer_nvt_PARMS_DREIDING.lammps

In [6]:
slices = {
    "coords":(27,524),
    "bonds":(528,1024),
    "angles":(1028,2003),
    "dihedrals":(2007,3389),
}

In [7]:
def get_coords(slices):
    coords = data.loc[slices[0]:slices[1]].copy().reset_index(drop=True)
    coords["data"] = coords["data"].str.split('\s').apply(lambda x: list(filter(None, x)))
    coords["atom id"] = coords["data"].apply(lambda x: x[0]).astype(int)
    coords["molecule id"] = coords["data"].apply(lambda x: x[1]).astype(int)
    coords["atom type"] = coords["data"].apply(lambda x: x[2]).astype(int)
    coords["charge"] = coords["data"].apply(lambda x: x[3]).astype(float)
    coords["x"] = coords["data"].apply(lambda x: x[4]).astype(float)
    coords["y"] = coords["data"].apply(lambda x: x[5]).astype(float)
    coords["z"] = coords["data"].apply(lambda x: x[6]).astype(float)
    return coords

coords = get_coords(slices["coords"])

In [8]:
def get_bonds(slices):
    bonds = data.loc[slices[0]:slices[1]].copy().reset_index(drop=True)
    bonds["data"] = bonds["data"].str.split('\s').apply(lambda x: list(filter(None, x)))
    bonds["bond id"] = bonds["data"].apply(lambda x: x[0]).astype(int)
    bonds["bond type"] = bonds["data"].apply(lambda x: x[1]).astype(int)
    bonds["atom1"] = bonds["data"].apply(lambda x: x[2]).astype(int)
    bonds["atom2"] = bonds["data"].apply(lambda x: x[3]).astype(int)
    return bonds

bonds = get_bonds(slices["bonds"])

In [9]:
def get_angles(slices):
    angles = data.loc[slices[0]:slices[1]].copy().reset_index(drop=True)
    angles["data"] = angles["data"].str.split('\s').apply(lambda x: list(filter(None, x)))
    angles["angle id"] = angles["data"].apply(lambda x: x[0]).astype(int)
    angles["angle type"] = angles["data"].apply(lambda x: x[1]).astype(int)
    angles["atom1"] = angles["data"].apply(lambda x: x[2]).astype(int)
    angles["atom2"] = angles["data"].apply(lambda x: x[3]).astype(int)
    angles["atom3"] = angles["data"].apply(lambda x: x[4]).astype(int)
    return angles

angles = get_angles(slices["angles"])

In [10]:
def get_dihedrals(slices):
    dihedrals = data.loc[slices[0]:slices[1]].copy().reset_index(drop=True)
    dihedrals["data"] = dihedrals["data"].str.split('\s').apply(lambda x: list(filter(None, x)))
    dihedrals["dihedral id"] = dihedrals["data"].apply(lambda x: x[0]).astype(int)
    dihedrals["dihedral type"] = dihedrals["data"].apply(lambda x: x[1]).astype(int)
    dihedrals["atom1"] = dihedrals["data"].apply(lambda x: x[2]).astype(int)
    dihedrals["atom2"] = dihedrals["data"].apply(lambda x: x[3]).astype(int)
    dihedrals["atom3"] = dihedrals["data"].apply(lambda x: x[4]).astype(int)
    dihedrals["atom4"] = dihedrals["data"].apply(lambda x: x[5]).astype(int)
    return dihedrals

dihedrals = get_dihedrals(slices["dihedrals"])

In [14]:
coords["atom id"].map({1:"F", 2:"C", 3:"O_single", 4:"_ion", 5"S": 6:"O_double"})

,data,atom id,molecule id,atom type,charge,x,y,z
0,"[1, 1, 1, -0.19227, 11.29500000, 29.97000000, ...",1,1,1,-0.19227,11.295,29.970,16.773
1,"[2, 1, 1, -0.19227, 31.92400000, 18.16800000, ...",2,1,1,-0.19227,31.924,18.168,14.175
2,"[3, 1, 1, -0.16086, 17.87600000, 24.28600000, ...",3,1,1,-0.16086,17.876,24.286,22.172
3,"[4, 1, 1, -0.19227, 40.21100000, 27.73400000, ...",4,1,1,-0.19227,40.211,27.734,17.430
4,"[5, 1, 1, -0.19227, 42.74400000, 17.78400000, ...",5,1,1,-0.19227,42.744,17.784,23.325
...,...,...,...,...,...,...,...,...
493,"[494, 1, 5, 0.41982, 39.57900000, 13.12800000,...",494,1,5,0.41982,39.579,13.128,16.329
494,"[495, 1, 5, 0.41982, 37.93800000, 22.47300000,...",495,1,5,0.41982,37.938,22.473,16.224
495,"[496, 1, 5, 0.41982, 18.73200000, 38.71400000,...",496,1,5,0.41982,18.732,38.714,13.277
496,"[497, 1, 5, 0.41982, 30.37700000, 23.04700000,...",497,1,5,0.41982,30.377,23.047,27.143
497,"[498, 1, 5, 0.41982, 17.65100000, 26.85100000,...",498,1,5,0.41982,17.651,26.851,14.495

In [11]:
def write_mol_file():
    f = open("nafion_ionomer_dreiding_FRAME170_2ndNVT.mol", "w")
    f.write("# Created by Karina Chiñas Fuentes | Python | 16.08.24\n\n")
    f.write("\n498 atoms\n497 bonds\n976 angles\n1383 dihedrals")
    f.write("\n\n")
    f.write("Coords\n\n")
    for i in range(len(coords)):
        f.write(f"{coords['atom id'][i]}\t{coords['x'][i]}\t{coords['y'][i]}\t{coords['z'][i]}\n")
    f.write("\nTypes\n\n")
    for i in range(len(coords)):
        f.write(f"{coords['atom id'][i]}\t{coords['atom type'][i]}\n")
    f.write("\nCharges\n\n")
    for i in range(len(coords)):
        f.write(f"{coords['atom id'][i]}\t{coords['charge'][i]}\n")
    f.write("\nBonds\n\n")
    for i in range(len(bonds)):
        f.write(f"{bonds['bond id'][i]}\t{bonds['bond type'][i]}\t"+
                f"{bonds['atom1'][i]}\t{bonds['atom2'][i]}\n")
    f.write("\nAngles\n\n")
    for i in range(len(angles)):
        f.write(f"{angles['angle id'][i]}\t{angles['angle type'][i]}\t"+
                f"{angles['atom1'][i]}\t{angles['atom2'][i]}\t{angles['atom3'][i]}\n")
    f.write("\nDihedrals\n\n")
    for i in range(len(dihedrals)):
        f.write(f"{dihedrals['dihedral id'][i]}\t{dihedrals['dihedral type'][i]}\t{dihedrals['atom1'][i]}\t"+
                f"{dihedrals['atom2'][i]}\t{dihedrals['atom3'][i]}\t{dihedrals['atom4'][i]}\n")

In [12]:
#write_mol_file()

In [ ]:
#! code nafion_ionomer_dreiding_FRAME170_2ndNVT.mol

In [ ]:
#! code nafion_ionomer_dreiding_PARMS_frame170_2ndNVT.lammps